<html>
<head>
<title>Web3 Example</title>
<style>
input {
font-size: 20px;
}
div {
background-color:lightgoldenrodyellow;
margin-left: 500px;
margin-right: 500px;
padding: 30px;
}
div>table {
font-size: 20px;
text-align: left;
}
h1{text-align: center;}
</style>
</head>
<body>
<div id="div1">
<h1></h1>
<table border="1" width="450px;">
<tr>
<th>url</th>
<td><%= result._url %></td>

</td>
</tr>
</table>
</div>
</body>
</html>